{% extends "base_site.html" %}

{% block content %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
<h1><span>Gifs Hacker</span></h1>
<div class="group">
{% csrf_token %}
{% for gif in gifs %}
    {% for url in gif.media %}
        <div class="view">
            <div class="view-back">
                <span class="votos" id="id_{{ gif.id }}" data-icon="B">{{ gif.votos|default:0 }}</span>
                <a class="voteup" href="JavaScript:voteup({{ gif.id }})">&uarr;</a>
                <a class="votedown" href="JavaScript:votedown({{ gif.id }})">&darr;</a>
            </div>
            <img src="{{ url.gif.url }}" />
        </div>
    {% endfor %}
{% endfor %}
</div>
<script type="text/javascript" src="static/js/gifs.js"></script>

{% endblock %}
