<!DOCTYPE html>
<html lang="pt-br">
    <head>
		{% block title %}<title>Hacker Gifs</title>{% endblock %}

        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="static/css/style_common.css" />
        <link rel="stylesheet" type="text/css" href="static/css/gifs.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div id="grid" class="main">
      				{% block content %}<!-- default content text (typically empty) -->{% endblock %}
      			</div>
        </div>
    </body>
</html>
